<h3>Available Resources</h3>

<p>Resources: <br>  <br>
<% @resource.each do |r| %>
  <h4> Title: <%= r.title %> </h4>
  <h4> Description: <%= r.description %> </h4>
  <h4> Course: <%= r.course %> </h4>
  <h4> Link: <%= r.link %></h4>

<% end %>
</p>
