<h3>Resources</h3>
<p>Title: <%= @resource.title if @resource.title %></p>
<p>Description: <%= @resource.description if @resource.description %></p>
<p>Link: <%= @resource.link if @resource.link %></p>