<% content_for :title do %>About<% end %>
<h3>About the Website</h3>
<p>
This website is for students to create, and share study sessions and review sessions or any events for classes they are taking.
</p>
